@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

:root {
    /* Colors */
    --background-color: rgb(218, 216, 216);
    --standard-text: rgb(83, 107, 117);
    --accent-dark: rgb(33, 69, 84);
    --accent-light: rgb(210, 146, 72);
  }  

body {
    margin: 0;
    padding: 0;
    color: var(--standard-text);
    font-family: "Merriweather", Garamond, serif;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}

.body-center {
    margin: 0px 50px;
    max-width: 1540px; /* 3*500 (image widths) + 2*20 (gaps) */
    width: calc(100vw - 110px);
    align-self: center;
}

header {
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    margin: 0px;
}

footer {
    padding: 0px 50px;
    margin: 0px;
}

/* Headings */

h1 {
    color: var(--accent-dark);
    font-size: xxx-large;
    font-weight: bold;
    transform: scaleY(1.5);
    margin: 30px 0px;
}

h2 {
    color: var(--accent-dark);
    font-size: medium;
    font-weight: bold;
}

h3 {
    color: var(--accent-dark);
    margin: 0px 0px 10px 0px;
    padding: 0px;
}

/* Other */

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#nav-list {
    
    display: flex;
    gap: 30px;
}

a {
    color: var(--accent-dark);
    text-decoration: none;
}

a:hover {
color: var(--accent-light);
}

p {
    overflow-wrap: break-word;
    hyphens: auto;
}

@media screen and (max-width:860px) {
    .body-center {
        max-width: 760px; /* max - margins */
        width: calc(100vw - 110px); /* max vw - margins */
    }
    h2 {
        display: none;
    }
}

@media screen and (max-width:725px) {
    header {
        flex-direction: column;
    }
    .body-center {
        max-width: 625px; /* max - margins */
        width: calc(100vw - 100px); /* max vw - margins */
    }
    #nav-list {
        font-size: large;
    }
}