section{
    padding-bottom: 50px;
}

.artworks-list{
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    gap: 20px;
}

/* Figure */
.artwork-item{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

/* Figure img */
.artwork-image{
    width: 300px;
}

.artwork-image:hover{
    filter: brightness(90%);
}

/* Figure caption */
.artwork-title{

}

@media screen and (max-width:725px) {
    .artworks-list{

    }
    .artwork-item{
    }
    .artwork-image{
        width: 100%;
    }
}