@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

body{
    margin:0;
    padding:0;
    color:rgb(144, 163, 177);
    font-family: "Merriweather", Garamond, serif;
    background-color: rgb(218, 216, 216);
    display: flex;
    flex-direction: column;
}

header{
    padding:0px 50px;
    margin:20px 0px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

main{
    padding:0px 50px;
    margin: 0px;
}

footer{
    padding:0px 50px;
    margin: 0px;
}

/* Headings */

h1{
    color:rgb(33, 69, 84);
    font-size: xxx-large;
    font-weight:bold;
    transform: scaleY(1.5);
    margin:30px 0px;
}

h2{
    font-size: medium;
    font-weight: bold;
    color:rgb(83, 107, 117);
}

h3{
    margin: 0px 0px 5px 0px;
    padding: 0px;
}

/* Other */

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#nav-list{
    display: flex;
    gap:30px;
}

a{
    color:rgb(83, 107, 117);
    text-decoration:none;
}

a:hover{
color:rgb(210, 146, 72);
}

@media screen and (max-width:860px) {
    #nav-list{
        font-size: large;
    }
    h2{
        visibility:collapse;
    }
}

@media screen and (max-width:725px) {
    header{
        flex-direction: column;
    }
    #nav-list{
        gap:30px;
        font-size: large;
    }
}